/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
$sides: (top, bottom, left, right);
$armageddon: #b70000 !default;
$main-color: #3f51b5 !default;

/* Margin custom scss class*/
@for $i from 1 through 999 {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}-#{$i} {
      margin-#{$side}: #{$i}px !important;
    }
    .p#{str-slice($side, 0, 1)}-#{$i} {
      padding-#{$side}: #{$i}px !important;
    }
  }
}

/* Margin custom scss class*/
.w-0 {
  width: 0;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.text-armageddon {
  color: $armageddon;
}

.text-submit {
  background-color: $main-color;
  color: white;
}

.btn-dialog {
  float: right;
}

.btn-edit {
  color: $main-color;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-half-width {
  width: 49%;
}

.filter {
  font-size: 14px;
  width: 75%;
}
